.message{
    top:0;

    font-size: 16px;
    text-align: center;
    width: inherit;
    padding: 0.5rem ;
background: rgba(233, 227, 248, 0.78);
    z-index:999999999;
    position: sticky;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .message{
        position: unset !important;
    }
}

.acceptcookies{
    padding: 0 0.5rem;
}
.closebutton{
    }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .closebutton{
        display: none !important;
    }
}
